port=9001
DB_URL="mongodb://localhost:27017/ResumeBuilder"
SALT_ROUND=<1-10>


#email
SMTP_SERVICE="gmail/outlook/yahoo"
SMTP_EMAIL="email@address.com"
SMTP_PASS="apppswd"

#JWT
JWT_SECRET="secret"
JWT_DURATION="1h"

#AIKey
AI_URL="OPEN AI BASE URL"
AI_KEY="Key"
AI_MODEL="model-name"